XML and WWW/fiszki/fiszkiSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="fiszki">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="fiszka">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="front" type="xsd:string" />
              <xsd:element name="back" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute name="learned" type="xsd:boolean" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="nazwa" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
